@import '~antd/dist/antd.css';

@import './App.scss';

@font-face {
    font-family: 'Eina';
    src: local('Eina'), url(../assets/fonts/Eina-01-Regular.otf) format('otf');
}
body {
    margin: 0;
    font-family: 'Eina', 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
